<div class="container">
  <h5 class="text-center title">Tomy's Tic Tac Toe</h5>

  <div class="mb-3 w-25 m-auto ">
    <form (ngSubmit)="getReadyGame()" [formGroup]="form">
      <label for="playerName" class="form-label">Player name</label>
    <input type="text" class="form-control" id="playerName" [formControl]="playerName">
    <p *ngIf="playerName.touched && playerName.invalid" class="text-danger ">Player name cannot be empty.</p>
    <button type="submit" class="mt-2 btn btn-primary">Play</button>
    </form>
  </div>
</div>